* {
    margin: 0px;
}

body {
    position: relative;
    background-color: rgba(92, 55, 141, 255);
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 25px;
    width: max-content;
    padding: 10px 20px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: rgba(92, 55, 141, 255);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;

}

.popup {
    position: relative;
    bottom: 0;
    right: 0;
    height: 25px;
    width: max-content;
    padding: 10px 20px;
    margin: 10px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: rgba(92, 55, 141, 255);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;


}

.btn:active {
    transform: translate(-50%, -50%) scale(0.98);
}

.notification {
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: max-content;
    width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}