* {
    margin: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
}

.input {
    outline: none;
    border: none;
    text-decoration: none;
    appearance: none;
    padding: 10px;
    height: 20px;
    width: 20px;
    transition: all 1s;
}

.btn {
    position: absolute;
    height: 40px;
    width: 40px;
    border: none;
    background-color: white;
    transition: 1s all;
    transform-origin: right;
}

.active {
    width: 200px
}

.rel {
    transform: translateX(120px);
}