* {
    margin: 0px;
    box-sizing: border-box;
}

.container {
    height: 300px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.prog-bar {
    height: 100px;
    width: 300px;
    margin: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.prog-bar::before {
    content: '';
    background-color: grey;
    height: 2px;
    width: 50%;
    position: absolute;
    transform: translateX(10px);
    z-index: -1;
}

.line {
    background-color: blue;
    height: 2px;
    width: 0px;
    position: absolute;
    left: 25%;
    transform: translateX(5px);
    z-index: -1;
    transition-duration: 1s;
}

.circle {
    height: 30px;
    background-color: rgb(255, 255, 255);
    width: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    border: 3px solid grey;
}

.active {
    border: 3px solid rgb(72, 0, 255);
    transition-duration: 2s;
}

.btn-bar {
    height: 40px;
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;

}

.prev button {
    background-color: rgb(193, 193, 193);
    border: none;
    color: white;
    height: 30px;
    width: 70px;
    border-radius: 10px;
    text-shadow: 1px 1px black;
    cursor: pointer;
}

.nxt button {
    background-color: blue;
    border: none;
    color: white;
    height: 30px;
    width: 70px;
    border-radius: 10px;
    text-shadow: 1px 1px black;
    cursor: pointer;
}