* {
    margin: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    height: max-content;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    overflow-x: hidden;
}

body h2 {
    margin: 30px 0px 30px 0px;
}

.container {
    height: 1000px;
    width: max-content;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(3, 1fr);
}

.box {
    height: 150px;
    width: 150px;
    margin: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}